# Devenv
# .devenv*
# devenv.local.nix

# direnv
# .direnv

# pre-commit
# .pre-commit-config.yaml
#


# ignore everything
# *

# but not these
# !devenv.nix
# !devenv.yaml
# !devenv.lock


# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml


rustlings
